[submodule "PBM-Frontend"]
	path = PBM-Frontend
	url = git@github.com:houstonlws/PBM-Frontend.git
	branch = main
[submodule "PBM-Backend"]
	path = PBM-Backend
	url = git@github.com:houstonlws/PBM-Backend.git
	branch = main
[submodule "PBM-Database"]
	path = PBM-Database
	url = git@github.com:houstonlws/PBM-Database.git
	branch = main
